/******** 프로그램의 스타일 ********/

html, body { margin: 0; padding: 0; }

#screen {
  background-color: black;
  position: relative;
  margin: auto;
  width: 1024px; height: 768px; /**/
/*  width: 100%; height: 100%; /**/
}

/******** 지도의 스타일 ********/

#map {
  position: absolute;
  top: 36px;    /* #menu_bar */
  bottom: 0;
  width: 100%;
}

.map-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-map-click-target {
  z-index: 5;  /* 다른 지도 이미지보다 항상 위에 와야 클릭이 가능함 */
  opacity: 0; -ms-filter: "alpha(opacity=0)"; /* 클릭만을 위한 이미지이므로 투명해야 함 */
}

.overlay {
  filter: opacity(50%) brightness(0);
  -ms-filter: "chroma(color=black) mask() mask(color=#00ff00) alpha(opacity=20)";
}

.toggle {
  display: none; /* 처음 로딩 시에는 숨긴다 */
}


/******** 상단 메뉴의 스타일 ********/

#menu_bar {
  font-weight: bold;
  font-size: 10pt;
  font-family: "맑은 고딕", "돋움", sans-serif;
}

#menu_bar > .ui-menu {
  height: 34px;
}

#menu_bar > .ui-menu > .ui-menu-item {
  float: left;
  height: 28px;
}

#menu_bar > .ui-menu > .ui-menu-item > * {
  vertical-align: middle;
}

#menu_bar .menu--active, #menu_bar .menu--active.ui-state-focus {
  color: black;
  font-weight: bold;
  background-color: #999;
  background-image: none;
}
#menu_bar .menu--active.ui-state-focus {
  background-color: #ccc;
}

/*.ui-menu .ui-menu-item.boolean,
.ui-menu .ui-menu-item.option {
  padding-left: 1.5em;
} /**/

/******** 하단 메뉴의 스타일 ********/

#icon_bar {
  position: absolute;
  bottom: 0;
  height: 40px;
  background-color: #ccc;
  z-index: 20;
}

#icon_bar_handle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

#icon_bar > ul {
  list-style: none;
  overflow: hidden;
  margin: 0; padding: 0;
}

#icon_bar > ul > li {
  float: left;
  border-left: 1px solid #aaa;
  height: 32px;
}

#icon_bar > ul > li > * {
  vertical-align: middle;
}

.icon {
  width: 32px; height: 32px;
  vertical-align: middle;
}

.icon--on-map {
  position: absolute;
  z-index: 10;
}

.icon-group-dialog .icon {
  cursor: pointer;
}

.ui-dialog .ui-dialog-buttonpane,
.ui-dialog .ui-dialog-titlebar
{
  padding-top: 1px;
  padding-bottom: 1px;
}

.ui-button-text-only .ui-button-text {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.ui-dialog .ui-dialog-buttonpane {
  margin-top: 0;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.icon-group-dialog.ui-dialog-content {
  text-align: center;
}
